MONGODB_URI="mongodb://localhost:27018/gym4me?replicaSet=rs0&directConnection=true"
REDIS_URL="redis://localhost:6380"

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_TTL="900s"
JWT_REFRESH_TTL_DAYS="30"

# mock | (future: kavenegar, ...)
SMS_PROVIDER="mock"
# mock | (future: finnotech, jibit, ...)
KYC_PROVIDER="mock"

UPLOAD_DIR="./uploads"

PORT=8088
